name: Deploy service for Bells Mainnet

on:
  workflow_dispatch:
    inputs:
      sha:
        description: 'Commit SHA for deploy/rollback (default: latest in branch)'
        required: false
        default: ''


jobs:
  deployment:
    runs-on: self-hosted
    environment: bells-mainnet

    steps:

    - name:  Determine commit SHA
      run: |
        if [ "${{ github.event_name }}" == "repository_dispatch" ]; then
          echo "SERVICE_TAG=${{ github.event.client_payload.sha }}" >> $GITHUB_ENV
          echo "Ref: ${{ github.event.client_payload.ref }}"
        else
          if [ -n "${{ github.event.inputs.sha }}" ]; then
            echo "SERVICE_TAG=${{ github.event.inputs.sha }}" >> $GITHUB_ENV
          else
            echo "SERVICE_TAG=${{ github.sha }}" >> $GITHUB_ENV
          fi
        fi

    - name: Log SERVICE_TAG
      run: |
        echo "Deploying image with SHA: ${{ env.SERVICE_TAG }}"

    - name: Log in to Docker Registry
      uses: docker/login-action@v2
      with:
        registry: ${{ secrets.CI_REGISTRY }}
        username: ${{ secrets.CI_REGISTRY_USER }}
        password: ${{ secrets.CI_REGISTRY_PASSWORD }}

    - name: Checkout repository at selected commit
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.client_payload.ref || github.ref }}

    - name: Check if Image 1 Exists
      env:
        CI_REGISTRY: ${{ secrets.CI_REGISTRY }}
        CI_REGISTRY_REPO: ${{ secrets.CI_REGISTRY_REPO }}
        SERVICE_NAME: ${{ vars.SERVICE_NAME }}
        SERVICE_TAG: ${{ env.SERVICE_TAG }}
      run: |
        IMAGE="${CI_REGISTRY}/${CI_REGISTRY_REPO}/${SERVICE_NAME}:${SERVICE_TAG}"
        if docker manifest inspect $IMAGE > /dev/null; then
          echo "Image exists"
        else
          echo "Image does not exist"
          exit 1
        fi

    - name: Generate .env 1 file
      env:
        ORD_INDEX_SATS: ${{ vars.ORD_INDEX_SATS }}
        ORD_INDEX_RUNES: ${{ vars.ORD_INDEX_RUNES }}
        ORD_INDEX_ADDRESSES: ${{ vars.ORD_INDEX_ADDRESSES }}
        ORD_COMMIT_INTERVAL: ${{ vars.ORD_COMMIT_INTERVAL }}
        ORD_BITCOIN_RPC_USERNAME: ${{ secrets.ORD_BITCOIN_RPC_USERNAME }}
        ORD_BITCOIN_RPC_PASSWORD: ${{ secrets.ORD_BITCOIN_RPC_PASSWORD }}
        ORD_BITCOIN_RPC_URL: ${{ vars.ORD_BITCOIN_RPC_URL }}
        ORD_DATA_DIR: ${{ vars.ORD_DATA_DIR }}
      run: |
        envsubst < .env.template > .env.updated

    - name: Copy .env 1 to server
      uses: appleboy/scp-action@v1.0.0
      with:
        host: ${{ secrets.HOST_1 }}
        username: ${{ secrets.HOST_1_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        source: ".env.updated"
        target: "/opt/${{ vars.COIN }}-${{ vars.NETWORK }}/services/${{ vars.SERVICE_NAME }}"

    - name: Deploy
      uses: appleboy/ssh-action@v1.0.0
      env:
        CI_REGISTRY: ${{ secrets.CI_REGISTRY }}
        CI_REGISTRY_REPO: ${{ secrets.CI_REGISTRY_REPO }}
        SERVICE_NAME: ${{ vars.SERVICE_NAME }}
        SERVICE_TAG: ${{ env.SERVICE_TAG }}
        DOCKER_COMPOSE_FILE: ${{ vars.DOCKER_COMPOSE_FILE }}
        COIN: ${{ vars.COIN }}
        NETWORK: ${{ vars.NETWORK }}
      with:
        host: ${{ secrets.HOST_1 }}
        username: ${{ secrets.HOST_1_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        envs: CI_REGISTRY,CI_REGISTRY_REPO,SERVICE_NAME,SERVICE_TAG,DOCKER_COMPOSE_FILE,COIN,NETWORK
        script: |
          for var in CI_REGISTRY CI_REGISTRY_REPO SERVICE_NAME SERVICE_TAG DOCKER_COMPOSE_FILE COIN NETWORK; do
            if [ -z "${!var}" ]; then
              echo "Error: Environment variable ${var} is not set."
              exit 1
            fi
          done

          BASE_PATH="/opt/${COIN}-${NETWORK}"
          SERVICE_PATH="${BASE_PATH}/services/${SERVICE_NAME}"
          IMAGE="${CI_REGISTRY}/${CI_REGISTRY_REPO}/${SERVICE_NAME}:${SERVICE_TAG}"
          CONTAINER="${COIN}-${NETWORK}-${SERVICE_NAME}"

          update_docker_compose() {
            local image="$1"
            local compose_file="$2"
            sed -i "s|image: .*/${SERVICE_NAME}:.*|image: ${image}|" "${compose_file}"
          }
          
          cd "${SERVICE_PATH}" || exit 1
          
          update_docker_compose "${IMAGE}" "${DOCKER_COMPOSE_FILE}"

          mv .env .env.old
          mv .env.updated .env

          cd "${BASE_PATH}" || exit 1
          
          docker compose up -d --force-recreate "${CONTAINER}"
          sleep 10
          docker exec nginx nginx -s reload || true
